body{
    background: linear-gradient(to right, #4e0475, #4242ce)
}

h4{
    margin-top: 0;
}

.cards-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    min-height: 80vh;
    min-width: 245px;
    padding-bottom: 30px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: white;
    background-color: #1d2a35;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
}

.banner{
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #ff8c00, #ff4500);
}

.profile-pic{
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-top: -100px;
}

.info{
    width: 80%;
    text-align: center;
    color: #b6b5b5;
}

.socials{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
}

.icon{
    display: flex;
    width: 30px;
    height: auto;
    fill: white;
    transition: fill 0.3s ease;
}

.icon:hover{
    fill:#b6b5b5;
}

.bio{
    text-align: left;
}



.line{
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid white;
}