*{
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    gap: 50px;
    padding: 10vh 0 50px 0;
    background-image: url(../img/weather-app-bg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img{
    width: 9vw;
    height: 9vw;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    border-radius: 10px 0 0 10px;
    width: 30px;
    height: 30px;
    background-color: field;
}

.search-icon.selected{
    border-radius: 10px 0 0 0;
}

.search-tool{
    display: flex;
}

#search-input{
    border-style: none;
    border-radius: 0 10px 10px 0;
    width: 20vw;
    height: 30px;
}

#search-input.selected{
    border-radius: 0 10px 0 0;
}

.suggestions{
    display: none;
    width: 100%;
    margin: 0;
    padding: 0 0 5px 0;
    border-radius: 0 0 10px 10px;
    list-style-type: none;
    background-color: white;
}

.suggestions.selected{
    display: block;
}

.search-item:hover{
    background-color: gray;
}

.standart-city{
    display: flex;
    width: 15vw;
    justify-content: center;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.main-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px black;
}

.temp{
    font-size: 6vw;
    color: white;
}

.add-info{
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.moisture, .wind{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
    border-radius: 10px;
    height: 15vw;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px black;
}

.wind-speed, .humidity{
    color: white;
}

.greater-title{
    color: white;
    font-weight: bold;
    font-size: 4vh;
    
}

.greater-than-x{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 30vw;
    min-height: 30vw;
    height: auto;
    background-color: rgb(43, 43, 43);
    color: white;
}

.city-list{
    list-style-type: none;
    padding: 0;
}