*{
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    gap: 80px;
    padding: 10vh 0 50px 0;
    background-image: url(../img/weather-app-bg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.title2{
    color: white;
    font-weight: bold;
    font-size: 2vw;
}

img{
    width: 9vw;
    height: 9vw;
}

.main-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px black;
}

.temp{
    font-size: 6vw;
    color: white;
}

.add-info{
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.moisture, .wind{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
    border-radius: 10px;
    height: 15vw;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px black;
}

.wind-speed, .humidity{
    color: white;
}

.greater-than-x{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    min-width: 30vw;
    min-height: 30vw;
    background-color: rgb(43, 43, 43);
    color: white;
}